<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>

<nav th:fragment="sidebar" class="sidebar-nav">

    <ul sec:authorize="isAuthenticated()">
        <li>
            <a th:href="@{/admin/home}"
               sec:authorize="hasRole('ADMIN')"
               th:classappend="${currentPage == 'home' ? 'active' : ''}">Trang chủ</a>

            <a th:href="@{/staff/home}"
               sec:authorize="hasRole('STAFF')"
               th:classappend="${currentPage == 'home' ? 'active' : ''}">Trang chủ</a>
        </li>
        <li>
            <a th:href="@{/profile}"
               th:classappend="${currentPage == 'profile' ? 'active' : ''}">Trang cá nhân</a>
        </li>
        <li>
            <a th:href="@{/sales}"
               th:classappend="${currentPage == 'sales' ? 'active' : ''}">Quản lý bán hàng</a>
        </li>
    </ul>

    <div sec:authorize="hasRole('ADMIN')">
        <ul>
            <li class="has-submenu">

                <a th:href="@{/admin/nhanvien}"
                   th:classappend="${currentPage != null && #strings.startsWith(currentPage, 'admin_nhanvien') ? 'active' : ''}">
                    Quản lý nhân viên
                </a>

                <ul class="submenu"
                    th:if="${currentPage != null && #strings.startsWith(currentPage, 'admin_nhanvien')}">

                    <li>
                        <a th:href="@{/admin/nhanvien}"
                           th:classappend="${currentPage == 'admin_nhanvien_list' ? 'active-sub' : ''}">
                            » Xem danh sách
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/admin/nhanvien/them}"
                           th:classappend="${currentPage == 'admin_nhanvien_them' ? 'active-sub' : ''}">
                            » Thêm nhân viên
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/admin/nhanvien/timkiem}"
                           th:classappend="${currentPage == 'admin_nhanvien_chinhsua' ? 'active-sub' : ''}">
                            » Chỉnh sửa nhân viên
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/admin/nhanvien/timkiem}"
                           th:classappend="${currentPage == 'admin_nhanvien_xoa' ? 'active-sub' : ''}">
                            » Xóa nhân viên
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/admin/nhanvien/timkiem}"
                           th:classappend="${currentPage == 'admin_nhanvien_timkiem' ? 'active-sub' : ''}">
                            » Tìm kiếm
                        </a>
                    </li>
                </ul>
            </li>

            <li class="has-submenu"> <a th:href="@{/admin/thietbi}"
                                        th:classappend="${currentPage != null && #strings.startsWith(currentPage, 'admin_thietbi') ? 'active' : ''}">
                Quản lý trang thiết bị
            </a>
                <ul class="submenu"
                    th:if="${currentPage != null && #strings.startsWith(currentPage, 'admin_thietbi')}">
                    <li>
                        <a th:href="@{/admin/thietbi}" th:classappend="${currentPage == 'admin_thietbi_list' ? 'active-sub' : ''}">
                            » Xem danh sách thiết bị
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/admin/thietbi/them}" th:classappend="${currentPage == 'admin_thietbi_them' ? 'active-sub' : ''}">
                            » Thêm thiết bị
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/admin/thietbi}"
                           th:classappend="${currentPage == 'admin_thietbi_chinhsua' ? 'active-sub' : ''}">
                            » Chỉnh sửa thiết bị
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/admin/thietbi}"
                           th:classappend="${currentPage == 'admin_thietbi_xoa' ? 'active-sub' : ''}">
                            » Xóa thiết bị
                        </a>
                    </li>
                </ul>
            </li>
            <li class="has-submenu">
                <a th:href="@{/admin/khohang}"
                   th:classappend="${currentPage != null && #strings.startsWith(currentPage, 'admin_khohang') ? 'active' : ''}">
                    Quản lý kho hàng
                </a>
                <ul class="submenu"
                    th:if="${currentPage != null && #strings.startsWith(currentPage, 'admin_khohang')}">
                    <li>
                        <a th:href="@{/admin/khohang}"
                           th:classappend="${currentPage == 'admin_khohang_list' ? 'active-sub' : ''}">
                            » Xem danh sách hàng hóa
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/admin/khohang/nhap}" th:classappend="${currentPage == 'admin_khohang_nhap' ? 'active-sub' : ''}">
                            » Nhập hàng hóa
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/admin/khohang/xuat}" th:classappend="${currentPage == 'admin_khohang_xuat' ? 'active-sub' : ''}">
                            » Xuất hàng hóa
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/admin/khohang/timkiem}"
                           th:classappend="${currentPage == 'admin_khohang_chinhsua' ? 'active-sub' : ''}">
                            » Chỉnh sửa hàng hóa
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/admin/khohang/timkiem}"
                           th:classappend="${currentPage == 'admin_khohang_xoa' ? 'active-sub' : ''}">
                            » Xóa hàng hóa
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/admin/khohang/timkiem}" th:classappend="${currentPage == 'admin_khohang_timkiem' ? 'active-sub' : ''}">
                            » Tìm kiếm hàng hóa
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a th:href="@{/admin/thucdon}"
                   th:classappend="${currentPage == 'admin_thucdon' ? 'active' : ''}">Quản lý thực đơn</a>
            </li>
            <li>
                <a th:href="@{/admin/reports}"
                   th:classappend="${currentPage == 'admin_reports' ? 'active' : ''}">Thống kê, báo cáo</a>
            </li>
        </ul>
    </div>

</nav>

</body>
</html>